h1 { text-align: center;

}

a{
    text-decoration: none;
}

.img_logo{
    width: 8rem;
}

.nav_contenedor{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5rem;
    border: none;
    
    
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
      
      
}



.contenedor_principal{
    width: 95%;
    margin: 0 auto;
    max-width: 95%;
}
.fondo_inicio{
    background-image: url('/Imagenes_Emilia/Fondo_quemacoco.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 3rem;
}

.parte_izq{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 33%;
}

.ini{
    text-decoration: none;  
    border: none;
    
}
.noso{
    text-decoration: none;  
    border: none;
}

.serv{
    text-decoration: none;  
    border: none;
}
.porta{
    text-decoration: none;  
    border: none;  
}
.conta{
    text-decoration: none;  
    border: none;
}
.img_central{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 33%;
    
}
.parte_derecha{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 33%;
    
}

.color_publicidad{
    color: #196699;
    text-align: center;
    margin-bottom: 8rem;

    
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
      
      
    
}

.cont_potencia{
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    flex-direction: row;
    padding: 3%;
    
}


.content_img{
    display: flex;
    align-items: flex-end;
    justify-content:left ;
}

.juntassomosmas{
    width: 20rem;
}
.text_potencia{
    padding: 0 4rem;
}
.color_potencia{
    color: #E43B6E;
    
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
      
      
}

.sobre_noso{
    background-color: #E43B6E;
    padding: 0 15rem;
}

.boton_nosotros{ 
    background-color: #E43B6E; /* Color de fondo */
    color: white;              /* Color del texto */
    border-radius: 2rem; 
    padding: 14px 28px;     
    font-size: 1.5rem; 
    cursor: pointer; 
    display: inline-block; 
    animation: 1s infinite;
}
    
.boton_nosotros:hover {
    background-color: #FADBD8; /* Cambia el color de fondo al pasar el mouse */
}

.nuestros_servicios{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  

}

.img_service{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.text_service{
    text-align: center;
    color: #6BB8C2;
}
.pie_de_pagina{
    background-color: #6BB8C2;
    margin-top: 10rem;
    display: flex;
    align-items: flex-end;
    
}
.logo_pie{
padding: 1rem;
}


.slider-frame {
	width: 1080px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


.mapa{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}