
h1 { text-align: center;

}

a{
    text-decoration: none;
}

.ini{
    color: #E43B6E;
}

.img_logo{
    width: 8rem;
}

.noso{
    color: #E43B6E;
}

.serv{
    color: #E43B6E;
}

.porta{
    color: #E43B6E;
}

.conta{
    color: #E43B6E;
}

.nav_contenedor{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5rem;
    border: none;
    
    
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
      
      
}



.contenedor_principal{
    width: 99%;
    margin: 0 auto;
    max-width: 99%;
}
.fondo_inicio{
    background-image: url('/Imagenes_Emilia/Fondo_quemacoco.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 3rem;
}

.parte_izq{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 33%;
}

.ini{
    text-decoration: none;  
    border: none;
    
}
.noso{
    text-decoration: none;  
    border: none;
}

.serv{
    text-decoration: none;  
    border: none;
}
.porta{
    text-decoration: none;  
    border: none;  
}
.conta{
    text-decoration: none;  
    border: none;
}
.img_central{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 33%;
    
}
.parte_derecha{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 33%;
    
}

.color_publicidad{
    color: #196699;
    text-align: center;
    margin-bottom: 8rem;

    
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
      
      
    
}

.cont_potencia{
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    flex-direction: row;
    padding: 3%;
    
}


.content_img{
    display: flex;
    align-items: flex-end;
    justify-content:left ;
}

.juntassomosmas{
    width: 20rem;
}
.text_potencia{
    padding: 0 4rem;
}
.color_potencia{
    color: #E43B6E;
    
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
      
      
}

.sobre_noso{
    background-color: #E43B6E;
    padding: 0 15rem;
}

.boton_nosotros{ 
    background-color: #E43B6E; /* Color de fondo */
    color: white;              /* Color del texto */
    border-radius: 2rem; 
    padding: 14px 28px;     
    font-size: 1.5rem; 
    cursor: pointer; 
    display: inline-block; 
    animation: 1s infinite;
}
    
.boton_nosotros:hover {
    background-color: #FADBD8; /* Cambia el color de fondo al pasar el mouse */
}

.nuestros_servicios{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  

}

.img_service{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.text_service{
    text-align: center;
    color: #6BB8C2;
}
.pie_de_pagina{
    background-color: #6BB8C2;
    margin-top: 10rem;
    display: flex;
    align-items: flex-end;
    
}
.logo_pie{
padding: 1rem;
}


.slider-frame {
	width: 1080px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


.mapa{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.acerca_noso{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    background-color: #F2F2F2;
    color: #E43B6E;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.mision_quemacoco{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    font-size: large;
    color: #6BB8C2;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.cont_mision{
    display: flex;
    background-color: #F2F2F2;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem;
    color: #6BB8C2;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    
}

.frase_quema{
    padding: 10rem;
    font-size: large;
    font-size: 30px;
    color: #E43B6E;
}

.img_misi{
    width: 45rem;
}


/*



.content_porta{
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1500px;
    grid-gap:20px;
    padding: 0px 0;
}

.box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box1:nth-child(1) {
    grid-column-start: span 2;
}

.box1:nth-child(4) {
    grid-column-start: span 2;
}

*/


#portafolio {
 padding: 20px;
 background-color: #f9f9f9;
}

.galeria {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.imagen {
 flex: 2 0 26%; /* Ajusta el tamaño de las imágenes y el espacio entre ellas */
 margin: 0px;
}

.imagen img {
 width: 100%;
 height: auto;
}

.background_porta{
    background-image: url('/Imagenes_Emilia/QUEMACOCO3.png');
    padding: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nav_contenedor1{
    padding: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5rem;
    border: none;
    
    
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
      
      
}

.background_serv{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2rem;
    color: #6BB8C2;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.background_serv1{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    padding: 2rem;
    color: #6BB8C2;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.img_serv{
    width: 45rem;
    
    padding: 20px;
}

.potencia_neg{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #196699;
    font-size: 30px;
}  

.nuestro_se{
    font-size: 30px;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #6BB8C2;
    
}

.encontrarnos{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #196699;
    font-size: 30px; 
}


.contact{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.contac_inicio{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contacta{
    font-size: 32px;
}

.label{
    color: #283629 ;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #a6e7f0;
    border: 2px solid white;
    color: #283629;
    outline: none;
}



